/*header*/













/* name header*/
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}








/* From Uiverse.io by tsd29142 */ 
.photo {
  height: 250px;
  width: 190px;
  background-image: linear-gradient(to top,   #210c93, #0d117a, #011160, #010e47, #07052e);
  box-shadow: rgba(0, 0, 0, 0.24) -20px 30px 10px;
  transform-style: preserve-3d;
  transform: perspective(400px)
  rotateX(60deg)
  rotateZ(-30deg);
  border-radius: 10px;
  transition: transform 2s;
}

.photo:hover {
  transform: rotateY(19deg);
}  
  
/*above for photo animation*/  
  
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0px;
  }

  /* General Card Styles */
  .cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    cursor:text;
    transition: 400ms;
  }

  /* Hover Effect */
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }

  .cards .card p.second-text {
    font-size: 0.7em;
  }

  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }

  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  /* Colors for Cards */
  .card:nth-child(3n+1) {
    background-color:transparent; /* Red */
  }

  .card:nth-child(3n+2) {
    background-color:transparent; /* Blue */
  }

  .card:nth-child(3n) {
    background-color:transparent; /* Green */
  }
  html {
    scroll-behavior:smooth;
  }




  /*skills*/
/* From Uiverse.io by Juanes200122 */ 
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: transparent;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  user-select: none;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #000000;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 80%;
  animation-delay: 0.1s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 30%;
  animation-delay: 0.1s;
}

.skill-per.java {
  /*progreso de las diferentes lenguajes*/
  width: 90%;
  animation-delay: 0.4s;
}

.skill-per.nodejs {
  /*progreso de las diferentes lenguajes*/
  width: 70%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #000000;

  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #000000;
  transform: translateX(-50%) rotate(45deg);
}

  

/*contact*/
/* From Uiverse.io by wilsondesouza */ 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 0.5rem;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 100%;
  right: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  width: fit-content;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}






.icons{
    display:inline-flex;
    margin: 0px;
    padding-left: 20px;
    position: fixed; 
    
}
body{
    width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  /*background-repeat: no-repeat;*/
  
  
}
.heading{
    align-items: center;
    display: flex;
    margin-top: 200px;
    font-size: 150px;
}
img{
  border-radius: 50%; /* Makes the image circular */
  width: 500px; /* Fixed width */
  height: 500px; /* Fixed height */
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
  margin-left: 50px;
  margin-right: 50px;
}

img:hover {
  transform: scale(1.1); /* Increases size by 10% */
}
.intro{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
h2{
  padding-left: 5px;
}
#about{
  background-color:#f3b182;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}
#contact{
  background-color:transparent;
  color: black;
}
p#about{
  padding-left: 100px;
}
h1.intro{
  display: flex;
      gap: 5px; /* Space between letters */
      font-size: 2.5rem;
      padding-left: 50px;
}
h1 span {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth scaling and color transition */
  cursor: pointer;
}

h1 span:hover {
  transform: scale(1.5); /* Increase size of the letter */
  color: #541d08; /* Change color on hover (optional) */
}

h1#skills{
  color: #000000;
}
#skills{
  color: #000000;
  margin-top: 10px;
}
.intro{
  margin-top: 50px;
}
header{
  height: 100vh;
  background-color: black;
  position: fixed;
}

#projects{
  background-color: transparent;
  color: #000;
}